.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 54rem;
    text-align: center;
}
#skill-title{
    background-image: linear-gradient(45deg, #0BD8B6, #007AA6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 20px;
}

.language-container-child{
    margin: 10px 0;
    justify-content: center;
    position: relative;
}

.front-end-text{
    display: flex;
    padding: 10px 0;
    color: white;
    position: absolute;
    position: absolute;
    top: 10%;
    left: 45%;
}

.back-end-text{
    display: flex;
    padding: 10px 0;
    color: white;
    position: absolute;
    position: absolute;
    top: 10%;
    left: 40%;
}

.soft-skills-text{
    display: flex;
    padding: 10px 0;
    color: white;
    position: absolute;
    position: absolute;
    top: 10%;
    left: 45%;
}

.icon-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px 100px 40px 100px;
    border-radius: 30px;
    background:linear-gradient(180deg, #0BD8B6, #007AA6);

}

.cards-container{
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(14, 11, 11, 0.3);
    box-shadow: 0 0 10px #141010;
    border: 2px solid transparent;
    background-clip: padding-box;
    width: 8rem;
}




.back-end-softskills-container{
    display: flex;
    width: auto;
    gap: 10px;
}

.p-html, .p-css, .p-js{
    padding-top: 10px;
} 

.fa-html5, .fa-css3-alt, .fa-js, .fa-node-js, .fa-magnifying-glass, .fa-book, .fa-calendar-xmark{
    font-size: 100px;
}


.fa-html5:hover{
    color: #E54B20;
}

.fa-css3-alt:hover{
    color: #0F73B5;
}

.fa-js:hover{
    color: #E4A229;
}




