.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 24rem;
  z-index: 0;
}

#project-title {
  font-size: 50px;
  padding-bottom: 30px;
  background-image: linear-gradient(45deg, #0bd8b6, #007aa6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-card {
  text-align: center;
  color: white;
  border: 2px solid #145750;
  padding: 1em 2em;
  margin: 0 1em;
  border-radius: 10px;
  background: linear-gradient(90deg, #0d2d2a, #0d1514);
  width: 15em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects-card-backCard {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-card-backCard-title-container {
  display: inline-flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.projects-card-backCard-title {
  background: linear-gradient(90deg, #0d2d2a, #0d1514);
  padding: 1em 2em;
  border-radius: 10px;
  border: 5px solid #145750;
  color: white;
}

.projects-card-title {
  font-weight: bold;
  padding: 0 0 1em 0;
  font-size: 20px;
}

.languages-projects-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em 0 0 0;
}

.language-projects-container {
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #12a594;
  padding: 5px 10px;
  align-self: flex-start;
  border-radius: 5px;
}

.load-wrapp {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}

.letter-holder {
  padding: 16px;
}

.letter {
  float: left;
  font-size: 26px;
  color: #adf0dd;
}

.load-6 .letter {
  animation-name: loadingF;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
.l-1 {
  animation-delay: 0.48s;
}
.l-2 {
  animation-delay: 0.6s;
}
.l-3 {
  animation-delay: 0.72s;
}
.l-4 {
  animation-delay: 0.84s;
}
.l-5 {
  animation-delay: 0.96s;
}
.l-6 {
  animation-delay: 1.08s;
}
.l-7 {
  animation-delay: 1.2s;
}
.l-8 {
  animation-delay: 1.32s;
}
.l-9 {
  animation-delay: 1.44s;
}
.l-10 {
  animation-delay: 1.56s;
}

@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
