.container-child {
  display: flex;
  align-items: center;
  width: 72rem;
}

#logo-img {
  border-radius: 50%;
  width: 50px;
  margin: 30px;
  border: 1px solid #207e73;
  margin-right: auto;
}

.close {
  display: none;
}

.burger-logo {
  display: none;
}

.burger-links {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

.links {
  display: flex;
  gap: 40px;
  list-style-type: none;
  color: white;
  align-items: center;
}

.links-header {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}
.links-header::after {
  content: "";
  display: flex;
  width: 0; /* Hide border initially */
  height: 1px;
  background: white;
  transition: width 0.3s ease;
}
.links-header:hover::after {
  width: 100%; /* Show border on hover */
}

a {
  text-decoration: none;
  color: #bebebe;
}

.navigation-ul li {
  color: #adf0dd;
}

.navigation-ul li:hover {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  #logo-img {
    display: none;
  }

  .container-child {
    display: flex;
    width: 100%;
  }

  .logo-container {
    margin: 10vh 0 0 0;
  }
  .burger-logo {
    display: flex;
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    color: white;
    border: none;
    font-size: 1.5em;
  }

  .burger-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10em;
    right: 1em;
  }

  .navigation-ul {
    display: none;
  }

  .burger-navigation-ul {
    display: none;
    list-style-type: decimal;
    color: white;
  }
}
