* {
  margin: 0;
  font-family: "quicksand";
  /* overflow-x: hidden; */
}

body {
  background-color: #111c1b;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #111c1b;
}
